body {
  background-image: linear-gradient(to top, rgb(125, 154, 243), rgb(255, 255, 255));
}

/*navbar*/

#headerNav {
  border-bottom: 1px solid #fbff00;
  background-color: rgb(76,110,244);
  box-shadow: 
  rgba(0, 0, 0, 0.07) 0px 1px 2px, 
  rgba(0, 0, 0, 0.07) 0px 2px 4px, 
  rgba(0, 0, 0, 0.07) 0px 4px 8px, 
  rgba(0, 0, 0, 0.07) 0px 8px 16px, 
  rgba(0, 0, 0, 0.07) 0px 16px 32px, 
  rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding: 1rem 1rem;
  transition: 0.3s;
  color: black;
}

.navbar-nav .nav-link:hover {
  background-color: white;
  border-radius: 5px;
  
}

.nav-item {
  margin: 0 10px;
}

#logo {
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
  transform: scale(1.3);
}

/* Carousel */

.carousel {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 800px;
}

.carousel-caption {
  color: rgb(255, 255, 255);
}

#button-next {
  background-color: black;
}

/* Card */

.card {
  height: 550px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#card-img {
  border-radius: 10px 10px 0px 0px;
}

.card-text {
  overflow: auto;
  height: 180px;
  color: rgb(0, 0, 0);
}

.card-button {
  color: rgba(76, 110, 244);
  background-color: transparent;
  border: none;
}

.card-button:hover {
  background-color: rgba(76, 110, 244);
}

/* map */

#map {
  height: 800px;
}

.card-map {
  height: 200px;
  width: 150px;
}

.img-mark {
  width: 150px;
  height: 100px;
}